.personalInfo1 {
    display: flex;
}

.card-client {
    background: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 6px 10px rgb(107, 110, 114);
    text-align: center;
    color: #000000;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    height: 88vh;
    width: 100%;
}

.user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.userInfoBox {
    background-color: rgb(242, 245, 247);
    height: 10%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.user-picture svg {
    width: 2.5rem;
    fill: currentColor;
}

.name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 0.7rem;

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: left;
}

.name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.P_Info {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 2px;
}

.setPersonalInfo {
    margin-top: 10%;
    cursor: pointer;
}

.personalInfoLogoWrapper {
    position: fixed;
    width: 26%;
}

.personalInfoLogo {
    width: 100%;
}
