@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    background-color: #334756;
    height: 5rem;
}

.logo {
    cursor: pointer;
    width: 15rem;
    transform: translateY(4rem);
}
