.commentsPreview {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    scrollbar-width: thin;
}

.exitButton {
    text-align: right;
    padding-right: 2rem;
}
.exitButton span:hover {
    cursor: pointer;
}

.addCommentContainer {
    position: relative;
    bottom: 0;
}

.comment {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    margin: 2rem;
    border: 1px solid #dfefef;
}

.personalComment {
    margin: 2rem;
    border: 1px solid #dfefef;
    background: linear-gradient(45deg, rgb(255, 255, 255) 90%, gold 10%);
}
