.postT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.funny {
    margin-top: 20%;
    width: fit-cont;
    height: fit-content;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    display: flex;
    justify-content: center;
}

.funnyContent {
    width: 80%;
}