.myPosts {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 53px;
}

.cardCommentWrraper {
    width: 90vw;
}

.myPostsHedear {
    display: flex;
}

.myPostscard {
    width: 100%;
    height: 150px;
    background: whitesmoke;
    transition: .2s linear;
    box-shadow: 1px 1px 10px lightslategray;
    cursor: default;
    margin-bottom: 12px;
}

.card-top-part {
    width: 100%;
    height: 70%;
    padding: 15px;
    display: flex;
}

.left-part {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-part {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.name {
    font-size: 82%;
    width: 90%;
}

.role {
    font-size: 10px;
    color: black;
    font-weight: bold;
    text-transform: lowercase;
    background-color: rgb(238, 196, 7);
    padding: 4px 10px;
    border-radius: 15px;
}

.position {
    color: grey;
}

.card-bottom-part {
    width: 100%;
    height: 30%;
    display: flex;
    border: 1px solid rgb(231, 227, 227);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.user-photo {
    width: 60px;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgb(231, 227, 227);
    box-shadow: 2px 2px 10px lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    width: 100%;

}

.bottom-part {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-part:hover>.link {
    transform: scale(1.1);
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 5.5px;
    font-weight: bold;
    transition: .2s linear;
}

.icon {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-part:first-child {
    border-right: 1px solid rgb(231, 227, 227);
}

/*! comments ///// */
.commentsWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 4px;
}

.cardComment {
    width: 100%;
    height: 70px;
    background: #353535;
    border-radius: 4px;
    display: flex;
    margin-bottom: 2%;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
    text-align: right;
}

.cardComment:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.imgCommentWrap {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#d7cfcf, #9198e5);
}

.imgComment {
    width: 100%;
}

.cardComment:hover>.img {
    transition: 0.5s ease-in-out;
    background: linear-gradient(#9198e5, #712020);
}

.textBoxComment {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
    font-family: 'Poppins' sans-serif;
}

.textContentComment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spanComment {
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 4px;
}

.h1Comment {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.pComment {
    font-size: 12px;
    font-weight: lighter;
    margin: 0;

}

.bidWrapper {
    display: flex;
    justify-content: space-evenly;

    flex-direction: column-reverse;
}

#bid {
    width: -webkit-fill-available;
}

.leftCommentSide {
    display: flex;
    flex-direction: column;
}



.btnComment {
    position: fixed;
    top: 2px;
    left: 4px;
    font-size: 50%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 700;
    color: black;
    background-color: rgb(7, 170, 34);
    width: 30%;
}

.btnComment:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnComment:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnComment::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btnComment::after {
    background-color: #fff;
}

.btnComment:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}